.tours{
  padding: 30px 24px 50px 24px; 
  .tourCardWrap{   
    display: flex;
    flex-direction: column;    
    .tourCard{
      width: 100%;
      position: relative;
      box-shadow: 1px 1px 2px 1px rgb(215, 215, 215);
      margin-bottom: 30px;
      &:hover{
        box-shadow: 4px 4px 2px 1px rgb(215, 215, 215);
      }

      img{
        object-fit: cover;
        width: 100%;
        height: auto;
      }
      .dateTag{
        padding: 5px;
        background-color: var(--main-color);
        width: fit-content;
        position: absolute;
        top: 10px;
        p{
          margin: 0;
        }
      }
      .tourName{
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.8;
        margin: 16px 0;        
      }
      .infoWrap{
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 10px;
        
        .countryTag{
          grid-row: span 2;
          font-size: 12px;
          color: var(--main-color);
        .infoTag1{
          width: 70px;
          grid-column: 2;
          margin: 0;
        }
        .infoTag2{
          grid-area: 2 / 2 / 3 / 3;
          margin: 0;
        }
        }
        .countryTag::before{
          font: var(--fa-font fa-map);
          content: "\f279";
        }
      }
    }    
  }
  .linkWrap{
    text-align: center;    
    a{
      font-size: 14px;
      text-decoration: none;
      color: var(--main-color);
      font-weight: 700;
      margin-bottom: 100px;
    }
  }
}

@media (min-width: 1000px){
  .tours{
    padding: 40px 70px 100px 70px; 
    .tourCardWrap{    
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 30px;
      .tourCard{
        width: 32%;        
        img{
          object-fit: cover;
          width: 100%;
          height: 270px;
        }
        .dateTag{
          padding: 5px;
          top: 10px;
          p{
            margin: 0;
            font-size: 14px;
            top: 15px;
          }
        }
        .tourName{
          font-weight: 700;
          font-size: 16px;
          letter-spacing: 0.8;
          margin: 16px 0;        
        }
        .infoWrap{                
          .countryTag{
            font-size: 15px;
            font-weight: 700;
          }
          .infoTag1, .infoTag2{
            width: 100px;
            font-size: 15px;              
          }
        }
      }
    }
    .linkWrap{  
      a{
        font-size: 18px;
      }
    }
  }
}