.about{
  img{
    object-fit: cover;
    width: 100%;
    // height: 220px;
    height:auto;
    margin-bottom: 20px;
  }
  h3{

  }
  p{

  }
  a{
    font-size: 12px;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 100px;
  }
  .empty{
    height: 50px;
  }
}