.services{
  background-color: var(--second-bg-color);
  padding: 30px 24px 50px 24px;
  .serviceCardWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    .serviceCard{
      width: 45%;
      text-align: center;  
      span{
        padding: 10px;
        background-color: var(--main-color);
      }
      h4{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 1;
        margin: 16px 0;
      }
    }
  }
}

@media (min-width: 1000px){
  .services{
    padding: 40px 70px 100px 70px;    
    .serviceCardWrap{
      .serviceCard{
        display: flex;
        column-gap: 30px;
        width: 30%;      
        span{
          height: fit-content;
          padding: 20px;          
        }
        .infoWrap{
          display: flex;
          flex-direction: column;
        }        
        h4{
          font-size: 24px;
          letter-spacing: 1px;
          text-align: left;
        }
        p{
          text-align: justify;
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 1.5;
          margin: 0;
        }
      }
    }
  }
}